.tab-wrapper {
  min-width: 320px;
  background-color: var(--bg-color);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
}

.tab-controls {
  display: flex;
  border-bottom: 2px solid var(--primary);
}

.tab-controls__item {
  flex: 1;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 15px 0;
  font-family: var(--main-font);
  font-size: 20px;
  color: var(--white);
  outline: var(--primary);
  transition: color 0.3s linear;
}

.tab-controls__item:hover {
  color: var(--primary);
}

.tab-controls__item-active {
  background-color: var(--primary);
}

.tab-controls__item-active:hover {
  color: var(--white);
}
